.image-card {
	@include card-image;
  background: url("../images/burger11.jpg");
}

.image-card-2 {
	@include card-image;
  background: url("../images/burger12.jpg");
}

.image-card-3 {
	@include card-image;
  background: url("../images/burger13.jpg");
}